@{
    ViewData["Title"] = "Pedidos";
}

@model IEnumerable<Biblioteca_Parcial2.Models.Pedidos>

<div class="text-center" style="background-color: lightblue;">
<h1>  Pedidos  </h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">PedidoId</th>
            <th scope="col">Descripcion</th>
            <th scope="col">FechaPedido</th>
        </tr>
    </thead>
    @foreach (var pedidos in Model)
    {
        <tr>
            <th scope="row">@pedidos.PedidoId</th>
            <td>@pedidos.Descripcion</td>
            <td>@pedidos.FechaPedido</td>
        </tr>
    }
</table>
    <a href="/Pedidos/CrearPedido" class="btn btn-primary">Agregar Pedidos</a>
</div>
<div class="text-center">
    <img src="~/icon/pedidos.jpg" width="200" height="200" />
</div>


