@{
    ViewData["Title"] = "Agregar Producto";
}
@model Biblioteca_Parcial2.Models.Producto

<div class="container mt-5">
    <h1 class="mb-4">Crear nuevo producto</h1>
</div>


<div class="card mb-4 mx-4">
    <div class="card-body">
        <form id="formularioOperacion" asp-action="CrearProducto" method="get">
            <div class="mb-3">
                <label for="nombreProducto" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="nombreProducto" placeholder="Ingrese el nombre del producto" asp-for="Nombre" />
            </div>
            <div class="mb-3">
                <label for="precioProducto" class="form-label">Precio</label>
                <input type="number" class="form-control" id="precioProducto" placeholder="Ingresa el precio del producto" asp-for="Precio" />
            </div>
            <div class="mb-3">
                <label for="cantidadProducto" class="form-label">Cantidad</label>
                <input type="number" class="form-control" id="cantidadProducto" placeholder="Ingresa la cantidad del producto" asp-for="Cantidad" />
            </div>
            <div class="mb-3">
                <button class="btn btn-primary" id="guardad">Guardar Producto</button>
            </div>
        </form>
    </div>
</div>