@{
    ViewData["Title"] = "Productos";
}

@model IEnumerable<Biblioteca_Parcial2.Models.Producto>

<div class="text-center" style="background-color: lightblue;">
<h1>  Productos  </h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Precio</th>
            <th scope="col">Cantidad</th>
        </tr>
    </thead>
    @foreach (var producto in Model)
    {
        <tr>
            <th scope="row">@producto.ProductoId</th>
            <td>@producto.Nombre</td>
            <td>Q.@producto.Precio</td>
            <td>@producto.Cantidad</td>
        </tr>
    }
</table>
    <a href="/Productos/CrearProducto" class="btn btn-primary">Agregar Producto</a>
</div>
<div class="text-center">
    <img src="~/icon/productos.jpg" width="200" height="200" />
</div>


