@{
    ViewData["Title"] = "Inicio";
}


<div class="text-center">
    <img src="~/icon/cropped-logo.png" alt="Alternate Text" />
    <h1 class="display-4">Bienvenido</h1>
    <h3>Parcial 2</h3>
    <p>Ayrton Alexandre Sebastian</p>
</div>
